.ItemEditor {

  margin-bottom: 50px;

  &__container {
    @include container;
  }

  &__label, &__input_text {
    display: block;
  }

  &__preview_img_block {
    float: left;
    position: relative;
    @include clearfix;
    width: 200px;
  }

  &__preview_img {
    max-width: 200px;
  }

  &__preview_img_remove {
    color: red;
    font-size: 36px;
    position: absolute;
    top: 39%;
    left: 42%;
    cursor: pointer;
  }

  &__preview_img_option {
    text-align: center;
    background-color: #5cb85c;
    color: #ffffff;
    position: relative;
  }

  &__preview_img_option_close {
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;

    &:hover {
      border: 1px solid #ffffff;
    }
  }

  &__attribute_wrapper {
    @include clearfix;
    margin-bottom: 10px;
  }

  &__attribute {
    float: left;
    padding: 20px;
    background-color: #989898;
    color: #ffffff;
    margin-right: 15px;
  }

  &__attribute_options {
    float: left;
  }

  &__attribute_option {
    float: left;
    margin-right: 10px;
  }
}