.Switch {
  position: relative;
  //font-size: 15px;
  display: inline-block;

  left: 0;
  background: #313538;
  width: 19px;
  height: 19px;
  //content: '__';
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  float: left;
  @include hover-state;
}