html {
  box-sizing: border-box;
  font-family: 'OpenSans'; }

ul {
  list-style-type: none; }

@font-face {
  font-family: NuanceItalic;
  src: url("/fonts/NuanceItalic.ttf"); }
@font-face {
  font-family: OpenSansSemibold;
  src: url("/fonts/Open-Sans-Semibold.ttf"); }
@font-face {
  font-family: OpenSansLight;
  src: url("/fonts/OpenSans-Light.ttf"); }
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.App {
  margin-left: auto;
  margin-right: auto; }

/*.App-logo {*/
/*animation: App-logo-spin infinite 20s linear;*/
/*height: 80px;*/
/*}*/
/*.App-header {*/
/*background-color: #222;*/
/*height: 150px;*/
/*padding: 20px;*/
/*color: white;*/
/*}*/
/*.App-intro {*/
/*font-size: large;*/
/*}*/
/*@keyframes App-logo-spin {*/
/*from { transform: rotate(0deg); }*/
/*to { transform: rotate(360deg); }*/
/*}*/
.Header__container {
  width: 960px;
  margin: 0 auto;
  position: relative; }
  .Header__container:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  .Header__container:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
.Header__row {
  width: 100%; }
  .Header__row--top {
    background: #2a2c33;
    height: 95px; }
  .Header__row--bottom {
    background: #0f140f;
    height: 55px;
    position: relative; }
.Header__menu {
  margin: 0;
  padding-left: 0;
  padding-top: 15px;
  float: left; }
.Header__menu_li {
  display: inline-block;
  padding: 3px 16px 3px 16px;
  border-right: 1px solid #282828;
  border-left: 1px solid black;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "OpenSans";
  position: relative; }
  .Header__menu_li:first-child {
    padding-left: 0;
    border-left: none; }
  .Header__menu_li:last-child {
    border-right: none; }
  .Header__menu_li a {
    color: #959697;
    text-decoration: none; }
    .Header__menu_li a:hover {
      color: white; }
  .Header__menu_li:hover .Header__drop_down_menu {
    display: inline-block; }
.Header__drop_down_menu {
  position: absolute;
  display: none;
  top: 15px;
  z-index: 100;
  width: auto;
  left: 0;
  padding-left: 0;
  padding-top: 25px; }
  .Header__drop_down_menu:hover {
    display: inline-block; }
.Header__drop_down_menu_li {
  padding: 3px 16px 3px 16px;
  border-right: 1px solid #282828;
  border-left: 1px solid black;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "OpenSans";
  background: #0f140f;
  white-space: nowrap; }
.Header__search_wrapper {
  position: relative;
  display: inline-block;
  float: right; }
.Header__search {
  position: relative;
  width: 226px;
  height: 31px;
  margin-left: 54px;
  margin-top: 11px;
  background-color: #1b1c1e;
  color: white;
  border: 1px solid #1b1c1e;
  padding-left: 20px; }
.Header__search_icon {
  position: absolute;
  background: url("/imgs/search.png");
  height: 20px;
  width: 20px;
  top: 17px;
  right: 8px; }
.Header__top_right_block {
  display: inline-block;
  float: right;
  font-family: "OpenSans"; }
.Header__top_left_logo {
  float: left;
  font-family: OpenSans;
  padding-top: 30px;
  font-size: 36px;
  color: white; }
.Header__top_links {
  float: left; }
.Header__top_link {
  color: #6f7983;
  float: left;
  margin: 0 29px 0 0; }
.Header__mini_cart {
  color: #6f7983;
  float: left;
  position: relative; }
.Header__mini_cart_icon {
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: black;
  position: relative;
  top: 8px;
  left: 8px; }
  .Header__mini_cart_icon:after {
    content: '';
    position: absolute;
    background: url("/imgs/cart.png");
    width: 19px;
    height: 18px;
    top: 8px;
    left: 8px; }
.Header__mini_cart_text {
  margin-left: 54px;
  margin-top: 17px; }

.Footer__container {
  width: 960px;
  margin: 0 auto;
  position: relative; }
  .Footer__container:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
.Footer__row {
  background: black;
  height: 72px; }
  .Footer__row:first-child {
    height: 220px;
    background: #252c30;
    padding-top: 40px; }
.Footer__col {
  display: inline-block;
  float: left;
  width: 25%; }
.Footer__col--contact-us .Footer__col_option {
  padding-left: 25px; }
.Footer__col_title {
  font-size: 15px;
  margin-bottom: 28px;
  color: white;
  text-transform: uppercase; }
.Footer__col_list {
  color: #707d89;
  padding-left: 0; }
.Footer__col_option {
  line-height: 1.7; }
  .Footer__col_option a {
    color: #959697;
    text-decoration: none; }
    .Footer__col_option a:hover {
      color: white; }
.Footer__copy {
  text-align: center;
  color: #5d5e5c;
  padding-bottom: 20px;
  padding-top: 25px;
  margin-left: 201px;
  margin-right: 201px; }
.Footer__mail {
  position: relative; }
  .Footer__mail:before {
    content: '';
    position: absolute;
    background: url("/imgs/mail.png");
    width: 14px;
    height: 10px;
    top: 4px;
    left: -25px; }
.Footer__join_icon {
  position: relative;
  border-radius: 50%;
  background: black;
  width: 35px;
  height: 35px;
  display: inline-block; }
  .Footer__join_icon--fb:before {
    content: '';
    position: absolute;
    background: url("/imgs/fb.png");
    width: 9px;
    height: 16px;
    top: 8px;
    left: 13px; }
  .Footer__join_icon--twit:before {
    content: '';
    position: absolute;
    background: url("/imgs/twit.png");
    width: 18px;
    height: 13px;
    top: 10px;
    left: 10px; }
  .Footer__join_icon--inst:before {
    content: '';
    position: absolute;
    background: url("/imgs/inst.png");
    width: 18px;
    height: 18px;
    top: 8px;
    left: 9px; }

.image-gallery {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }
  .image-gallery.fullscreen-modal {
    background: #000;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 5; }
    .image-gallery.fullscreen-modal .image-gallery-content {
      top: 50%;
      transform: translateY(-50%); }

.image-gallery-content {
  position: relative;
  line-height: 0;
  top: 0; }
  .image-gallery-content.fullscreen {
    background: #000; }
    .image-gallery-content.fullscreen .image-gallery-slide {
      background: #000; }

.image-gallery-slide-wrapper {
  position: relative; }
  .image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
    display: inline-block;
    width: calc(100% - 113px); }
    @media (max-width: 768px) {
      .image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
        width: calc(100% - 84px); } }

.image-gallery-fullscreen-button,
.image-gallery-play-button,
.image-gallery-left-nav,
.image-gallery-right-nav {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 4; }

.image-gallery-fullscreen-button,
.image-gallery-play-button {
  bottom: 0; }

.image-gallery-fullscreen-button {
  right: 0; }

.image-gallery-play-button {
  left: 0; }

.image-gallery-left-nav,
.image-gallery-right-nav {
  color: #fff;
  font-size: 5em;
  padding: 50px 15px;
  top: 50%;
  transform: translateY(-50%); }
  .image-gallery-left-nav[disabled],
  .image-gallery-right-nav[disabled] {
    cursor: disabled;
    opacity: .6;
    pointer-events: none; }
  @media (max-width: 768px) {
    .image-gallery-left-nav,
    .image-gallery-right-nav {
      font-size: 3.4em; } }
  @media (max-width: 480px) {
    .image-gallery-left-nav,
    .image-gallery-right-nav {
      font-size: 2.4em; } }

.image-gallery-left-nav {
  left: 0; }

.image-gallery-right-nav {
  right: 0; }

.image-gallery-slides {
  line-height: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap; }

.image-gallery-slide {
  background: #fff;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }
  .image-gallery-slide.center {
    position: relative; }
  .image-gallery-slide img {
    width: 100%; }
  .image-gallery-slide .image-gallery-description {
    background: rgba(0, 0, 0, 0.4);
    bottom: 70px;
    color: #fff;
    left: 0;
    line-height: 1;
    padding: 10px 20px;
    position: absolute;
    white-space: normal; }
    @media (max-width: 768px) {
      .image-gallery-slide .image-gallery-description {
        bottom: 45px;
        font-size: .8em;
        padding: 8px 15px; } }

.image-gallery-bullets {
  bottom: 20px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 80%;
  z-index: 4; }
  .image-gallery-bullets .image-gallery-bullets-container {
    margin: 0;
    padding: 0;
    text-align: center; }
  .image-gallery-bullets .image-gallery-bullet {
    appearance: none;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 0 #1a1a1a;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    outline: none;
    padding: 5px; }
    @media (max-width: 768px) {
      .image-gallery-bullets .image-gallery-bullet {
        margin: 0 3px;
        padding: 3px; } }
    @media (max-width: 480px) {
      .image-gallery-bullets .image-gallery-bullet {
        padding: 2.7px; } }
    .image-gallery-bullets .image-gallery-bullet.active {
      background: #fff; }

.image-gallery-thumbnails-wrapper {
  position: relative; }
  .image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
    display: inline-block;
    vertical-align: top;
    width: 108px; }
    @media (max-width: 768px) {
      .image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
        width: 81px; } }
    .image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails {
      height: 100%;
      width: 100%;
      left: 0;
      padding: 0;
      position: absolute;
      top: 0; }
      .image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail {
        display: block;
        margin-right: 0;
        padding: 0; }
  .image-gallery-thumbnails-wrapper.left {
    margin-right: 5px; }
    @media (max-width: 768px) {
      .image-gallery-thumbnails-wrapper.left {
        margin-right: 3px; } }
  .image-gallery-thumbnails-wrapper.right {
    margin-left: 5px; }
    @media (max-width: 768px) {
      .image-gallery-thumbnails-wrapper.right {
        margin-left: 3px; } }

.image-gallery-thumbnails {
  overflow: hidden;
  padding: 5px 0; }
  @media (max-width: 768px) {
    .image-gallery-thumbnails {
      padding: 3px 0; } }
  .image-gallery-thumbnails .image-gallery-thumbnails-container {
    cursor: pointer;
    text-align: center;
    transition: transform .45s ease-out;
    white-space: nowrap; }

.image-gallery-thumbnail {
  display: inline-block;
  margin-right: 5px;
  border: 4px solid transparent;
  transition: border .3s ease-out;
  width: 100px; }
  @media (max-width: 768px) {
    .image-gallery-thumbnail {
      border: 3px solid transparent;
      width: 75px; } }
  .image-gallery-thumbnail img {
    vertical-align: middle;
    width: 100%; }
  .image-gallery-thumbnail.active {
    border: 4px solid #337ab7; }
    @media (max-width: 768px) {
      .image-gallery-thumbnail.active {
        border: 3px solid #337ab7; } }

.image-gallery-thumbnail-label {
  color: #1a1a1a;
  font-size: 1em; }
  @media (max-width: 768px) {
    .image-gallery-thumbnail-label {
      font-size: .8em; } }

.image-gallery-index {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4; }
  @media (max-width: 768px) {
    .image-gallery-index {
      font-size: .8em;
      padding: 5px 10px; } }

.MainSlider {
  position: relative;
  height: 480px;
  background-color: #d9dadf; }
  .MainSlider__container {
    width: 960px;
    margin: 0 auto;
    position: relative; }
    .MainSlider__container:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }
  .MainSlider__slider {
    margin-top: 0; }
  .MainSlider__control {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 200px;
    z-index: 100;
    cursor: pointer; }
    .MainSlider__control--prev {
      left: 0;
      background: url("/imgs/slider/left_arrow.png"); }
    .MainSlider__control--next {
      right: 0;
      background: url("/imgs/slider/right_arrow.png"); }
  .MainSlider img {
    width: auto;
    height: 480px; }

.ItemSlider {
  display: inline-block;
  float: left;
  width: 383px; }

.MainGallery {
  position: relative;
  background-color: #d9dadf;
  height: 270px;
  padding-top: 38px; }
  .MainGallery__container {
    width: 960px;
    margin: 0 auto;
    position: relative; }
    .MainGallery__container:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }
  .MainGallery__arrows {
    margin-bottom: 12px; }
    .MainGallery__arrows:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }
  .MainGallery__left_arrow {
    background: url("/imgs/MainGallery/slide_arrows.png");
    width: 17px;
    float: right;
    height: 12px; }

.TagLine {
  position: relative;
  background: url("/imgs/TagLine/ribbed_bg.png");
  width: 100%;
  height: 99px; }
  .TagLine__container {
    width: 960px;
    margin: 0 auto;
    position: relative; }
    .TagLine__container:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }
  .TagLine__text {
    font-family: 'NuanceItalic';
    font-size: 30px;
    color: white;
    float: left;
    width: 640px; }
  .TagLine__text--big {
    font-size: 40px; }
  .TagLine__arrow {
    background: black;
    width: 30%;
    height: 99px;
    position: absolute;
    top: 0;
    right: 0; }
    .TagLine__arrow:before {
      position: absolute;
      left: -20px;
      top: 30px;
      content: '';
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-right: 20px solid black; }

.Item {
  display: block;
  position: relative;
  background-color: #d9dadf;
  height: auto;
  color: #455056;
  margin: 0 auto; }
  .Item__row {
    width: 100%; }
    .Item__row--menu {
      position: relative;
      background: url("/imgs/TagLine/ribbed_bg.png");
      width: 100%;
      height: 99px;
      height: 62px; }
    .Item__row--content {
      background: #ffffff;
      padding: 35px 0 35px 0; }
  .Item__container {
    width: 960px;
    margin: 0 auto;
    position: relative; }
    .Item__container:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }
  .Item__tag {
    width: 456px;
    font-size: 36px;
    font-family: "OpenSans";
    color: #fafcf6;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.528;
    position: relative;
    float: right;
    z-index: 100; }
  .Item__menu {
    margin: 0;
    padding-left: 0;
    padding-top: 15px;
    float: left; }
  .Item__menu_li {
    display: inline-block;
    padding: 3px 16px 3px 16px;
    border-right: 1px solid #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    font-family: Fern "OpenSans";
    text-decoration: none;
    position: relative; }
    .Item__menu_li:last-child {
      border-right: none; }
  .Item a {
    color: #929ba1;
    text-decoration: none; }
    .Item a:hover {
      color: white; }
  .Item__top_image {
    background: url("imgs/Detail/img_logo.png");
    width: 100%;
    height: 362px; }
  .Item__content {
    display: inline-block;
    float: right;
    width: 530px; }
  .Item__title {
    font-family: OpenSansSemibold;
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase; }
  .Item__short_description_block:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  .Item__short_description_title {
    font-family: OpenSansSemibold;
    float: left;
    font-size: 30px;
    margin-right: 15px; }
  .Item__short_description {
    float: left;
    font-size: 15px;
    margin-top: 14px; }
  .Item__splitter {
    border: none;
    color: #d9d9d9;
    background-color: #d9d9d9;
    height: 1px; }
  .Item__order_block {
    font-size: 23px;
    font-family: OpenSansLight;
    text-transform: uppercase;
    padding: 44px 0 38px 0; }
    .Item__order_block:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }
  .Item__order_left_block {
    width: 352px;
    float: left; }
    .Item__order_left_block:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }
  .Item__order_right_block {
    float: right;
    padding-top: 5px; }
  .Item__add_to_cart_btn {
    font-size: 18px;
    font-family: OpenSansSemibold;
    text-transform: uppercase;
    background-color: #313538;
    color: #ffffff;
    border: 1px solid #313538;
    border-radius: 5px;
    padding: 10px 22px;
    cursor: pointer; }
  .Item__order_key {
    float: left;
    width: 215px;
    text-transform: uppercase;
    position: relative; }
    .Item__order_key:after {
      position: absolute;
      content: ':';
      right: 0; }
  .Item__order_value {
    float: left;
    text-transform: uppercase;
    padding-left: 7px; }
  .Item__more_description_title {
    font-family: OpenSansLight;
    font-size: 23px; }
  .Item__description_block {
    margin: 8px 0 23px 0; }
    .Item__description_block--minimized .Item__description_block_name:before {
      font-size: larger;
      content: '+'; }
  .Item__description_block_name {
    text-transform: uppercase;
    padding-left: 25px;
    position: relative;
    font-size: 15px; }
    .Item__description_block_name:before {
      position: absolute;
      left: 0;
      background: #313538;
      width: 19px;
      height: 19px;
      content: '__';
      color: #ffffff;
      font-size: 9px;
      text-align: center;
      cursor: pointer; }
  .Item__description_text {
    padding-top: 15px;
    font-size: 13px; }

.Collections {
  display: block;
  position: relative;
  background-color: #d9dadf;
  height: auto;
  color: #455056;
  margin: 0 auto; }
  .Collections__top_image {
    background: url("imgs/Collections/frontpic.png");
    width: 466px;
    height: 300px; }
  .Collections__row {
    width: 100%; }
    .Collections__row--menu {
      position: relative;
      background: url("/imgs/TagLine/ribbed_bg.png");
      width: 100%;
      height: 99px;
      height: 62px; }
    .Collections__row--content {
      background: #ffffff;
      padding: 35px 0 35px 0; }
  .Collections__menu {
    margin: 0;
    padding-left: 0;
    padding-top: 15px;
    float: left; }
  .Collections__menu_li {
    display: inline-block;
    padding: 3px 16px 3px 16px;
    border-right: 1px solid #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    font-family: Fern "OpenSans";
    text-decoration: none;
    position: relative; }
    .Collections__menu_li:last-child {
      border-right: none; }
  .Collections a {
    color: #929ba1;
    text-decoration: none; }
    .Collections a:hover {
      color: white; }
  .Collections__container {
    width: 960px;
    margin: 0 auto;
    position: relative; }
    .Collections__container:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }

.StarRating {
  unicode-bidi: bidi-override;
  direction: rtl;
  display: inline-block;
  position: relative; }
  .StarRating__stars {
    float: left;
    margin-right: 15px; }
  .StarRating__summary_rating {
    float: left;
    font-size: 13px;
    position: relative;
    top: 8px; }
  .StarRating__star {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-size: 20px;
    cursor: pointer; }
    .StarRating__star:hover:before, .StarRating__star:hover ~ .StarRating__star:before {
      content: "\2605";
      position: absolute; }

.PreviewItem {
  width: 217px;
  height: 300px;
  border: 1px solid #dedede;
  float: left;
  margin: 0 21px 25px 0;
  position: relative; }
  .PreviewItem__img {
    width: 100%;
    height: 135px; }
  .PreviewItem__bottom {
    height: 32px;
    position: absolute;
    bottom: 0; }
    .PreviewItem__bottom:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }
  .PreviewItem__add_to_cart, .PreviewItem__more {
    float: left;
    color: #ffffff;
    padding: 10px 27px 9px 28px;
    font-size: 15px; }
  .PreviewItem__add_to_cart {
    background: #313538; }
  .PreviewItem__more {
    background: #7b8286; }
  .PreviewItem__name {
    text-transform: lowercase;
    text-align: center;
    padding: 10px 5px 0 5px; }
  .PreviewItem__price {
    text-align: center;
    margin-top: 15px;
    font-weight: bold; }
