html {
  box-sizing: border-box;
  font-family: 'OpenSans'; }

ul {
  list-style-type: none; }

@font-face {
  font-family: NuanceItalic;
  src: url("/fonts/NuanceItalic.ttf"); }
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.App {
  margin-left: auto;
  margin-right: auto; }

/*.App-logo {*/
/*animation: App-logo-spin infinite 20s linear;*/
/*height: 80px;*/
/*}*/
/*.App-header {*/
/*background-color: #222;*/
/*height: 150px;*/
/*padding: 20px;*/
/*color: white;*/
/*}*/
/*.App-intro {*/
/*font-size: large;*/
/*}*/
/*@keyframes App-logo-spin {*/
/*from { transform: rotate(0deg); }*/
/*to { transform: rotate(360deg); }*/
/*}*/
.Header__container {
  width: 960px;
  margin: 0 auto;
  position: relative; }
  .Header__container:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
.Header__row {
  width: 100%; }
  .Header__row--top {
    background: #2a2c33;
    height: 95px; }
  .Header__row--bottom {
    background: #0f140f;
    height: 55px;
    position: relative; }
.Header__menu {
  margin: 0;
  padding-left: 0;
  padding-top: 15px;
  float: left; }
.Header__menu_li {
  display: inline-block;
  padding: 3px 16px 3px 16px;
  border-right: 1px solid #282828;
  border-left: 1px solid black;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "OpenSans";
  position: relative; }
  .Header__menu_li:first-child {
    padding-left: 0;
    border-left: none; }
  .Header__menu_li:last-child {
    border-right: none; }
  .Header__menu_li a {
    color: #959697;
    text-decoration: none; }
    .Header__menu_li a:hover {
      color: white; }
  .Header__menu_li:hover .Header__drop_down_menu {
    display: inline-block; }
.Header__drop_down_menu {
  position: absolute;
  display: none;
  top: 15px;
  z-index: 100;
  width: auto;
  left: 0;
  padding-left: 0;
  padding-top: 25px; }
  .Header__drop_down_menu:hover {
    display: inline-block; }
.Header__drop_down_menu_li {
  padding: 3px 16px 3px 16px;
  border-right: 1px solid #282828;
  border-left: 1px solid black;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "OpenSans";
  background: #0f140f;
  white-space: nowrap; }
.Header__search_wrapper {
  position: relative;
  display: inline-block;
  float: right; }
.Header__search {
  position: relative;
  width: 226px;
  height: 31px;
  margin-left: 54px;
  margin-top: 11px;
  background-color: #1b1c1e;
  color: white;
  border: 1px solid #1b1c1e;
  padding-left: 20px; }
.Header__search_icon {
  position: absolute;
  background: url("/imgs/search.png");
  height: 20px;
  width: 20px;
  top: 17px;
  right: 8px; }
.Header__top_right_block {
  display: inline-block;
  float: right;
  font-family: "OpenSans"; }
.Header__top_left_logo {
  float: left;
  font-family: OpenSans;
  padding-top: 30px;
  font-size: 36px;
  color: white; }
.Header__top_links {
  float: left; }
.Header__top_link {
  color: #6f7983;
  float: left;
  margin: 0 29px 0 0; }
.Header__mini_cart {
  color: #6f7983;
  float: left;
  position: relative; }
.Header__mini_cart_icon {
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: black;
  position: relative;
  top: 8px;
  left: 8px; }
  .Header__mini_cart_icon:after {
    content: '';
    position: absolute;
    background: url("/imgs/cart.png");
    width: 19px;
    height: 18px;
    top: 8px;
    left: 8px; }
.Header__mini_cart_text {
  margin-left: 54px;
  margin-top: 17px; }

.Footer__container {
  width: 960px;
  margin: 0 auto;
  position: relative; }
.Footer__row {
  background: black;
  height: 72px; }
  .Footer__row:first-child {
    height: 220px;
    background: #252c30;
    padding-top: 40px; }
.Footer__col {
  display: inline-block;
  float: left;
  width: 25%; }
.Footer__col--contact-us .Footer__col_option {
  padding-left: 25px; }
.Footer__col_title {
  font-size: 15px;
  margin-bottom: 28px;
  color: white;
  text-transform: uppercase; }
.Footer__col_list {
  color: #707d89;
  padding-left: 0; }
.Footer__col_option {
  line-height: 1.7; }
  .Footer__col_option a {
    color: #959697;
    text-decoration: none; }
    .Footer__col_option a:hover {
      color: white; }
.Footer__copy {
  text-align: center;
  color: #5d5e5c;
  padding-bottom: 20px;
  padding-top: 25px;
  margin-left: 201px;
  margin-right: 201px; }
.Footer__mail {
  position: relative; }
  .Footer__mail:before {
    content: '';
    position: absolute;
    background: url("/imgs/mail.png");
    width: 14px;
    height: 10px;
    top: 4px;
    left: -25px; }
.Footer__join_icon {
  position: relative;
  border-radius: 50%;
  background: black;
  width: 35px;
  height: 35px;
  display: inline-block; }
  .Footer__join_icon--fb:before {
    content: '';
    position: absolute;
    background: url("/imgs/fb.png");
    width: 9px;
    height: 16px;
    top: 8px;
    left: 13px; }
  .Footer__join_icon--twit:before {
    content: '';
    position: absolute;
    background: url("/imgs/twit.png");
    width: 18px;
    height: 13px;
    top: 10px;
    left: 10px; }
  .Footer__join_icon--inst:before {
    content: '';
    position: absolute;
    background: url("/imgs/inst.png");
    width: 18px;
    height: 18px;
    top: 8px;
    left: 9px; }

.MainSlider {
  position: relative;
  height: 480px;
  background-color: #d9dadf; }
  .MainSlider__container {
    width: 960px;
    margin: 0 auto;
    position: relative; }
  .MainSlider__slider {
    margin-top: 0; }
  .MainSlider__control {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 200px;
    z-index: 100;
    cursor: pointer; }
    .MainSlider__control--prev {
      left: 0;
      background: url("/imgs/slider/left_arrow.png"); }
    .MainSlider__control--next {
      right: 0;
      background: url("/imgs/slider/right_arrow.png"); }
  .MainSlider__img {
    max-height: 480px; }

.MainGallery {
  position: relative;
  background-color: #d9dadf;
  height: 270px;
  padding-top: 38px; }
  .MainGallery__container {
    width: 960px;
    margin: 0 auto;
    position: relative; }
  .MainGallery__arrows {
    margin-bottom: 12px; }
    .MainGallery__arrows:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }
  .MainGallery__left_arrow {
    background: url("/imgs/MainGallery/slide_arrows.png");
    width: 17px;
    float: right;
    height: 12px; }

.TagLine {
  position: relative;
  background: url("/imgs/TagLine/ribbed_bg.png");
  width: 100%;
  height: 99px; }
  .TagLine__container {
    width: 960px;
    margin: 0 auto;
    position: relative; }
  .TagLine__text {
    font-family: 'NuanceItalic';
    font-size: 30px;
    color: white;
    float: left;
    width: 640px; }
  .TagLine__text--big {
    font-size: 40px; }
  .TagLine__arrow {
    background: black;
    width: 30%;
    height: 99px;
    float: right;
    position: relative; }
    .TagLine__arrow:before {
      position: absolute;
      left: -20px;
      top: 30px;
      content: '';
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-right: 20px solid black; }

.item {
  display: block;
  position: relative;
  background-color: #d9dadf;
  height: auto;
  margin: 0 auto; }
  .item__container {
    width: 960px;
    margin: 0 auto;
    position: relative; }
  .item__tag {
    width: 456px;
    font-size: 36px;
    font-family: "OpenSans";
    color: #fafcf6;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.528;
    position: relative;
    float: right;
    z-index: 100; }
  .item__img_menu {
    position: relative;
    background: url("/imgs/TagLine/ribbed_bg.png");
    width: 100%;
    height: 99px; }
    .item__img_menu__menu {
      margin: 0;
      padding-left: 0;
      padding-top: 15px;
      float: left; }
    .item__img_menu__menu_li {
      display: inline-block;
      padding: 3px 16px 3px 16px;
      border-right: 1px solid #282828;
      border-left: 1px solid black;
      text-transform: uppercase;
      font-size: 13px;
      font-family: "OpenSans";
      position: relative; }
