html {
  box-sizing: border-box; }

ul {
  list-style-type: none; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.App {
  margin-left: auto;
  margin-right: auto; }

/*.App-logo {*/
/*animation: App-logo-spin infinite 20s linear;*/
/*height: 80px;*/
/*}*/
/*.App-header {*/
/*background-color: #222;*/
/*height: 150px;*/
/*padding: 20px;*/
/*color: white;*/
/*}*/
/*.App-intro {*/
/*font-size: large;*/
/*}*/
/*@keyframes App-logo-spin {*/
/*from { transform: rotate(0deg); }*/
/*to { transform: rotate(360deg); }*/
/*}*/
.Header__container {
  width: 960px;
  margin: 0 auto; }
.Header__row {
  width: 100%; }
  .Header__row--top {
    background: #2a2c33;
    height: 95px; }
  .Header__row--bottom {
    background: #0f140f;
    height: 55px;
    position: relative; }
.Header__menu {
  margin: 0;
  padding-left: 3px;
  padding-top: 15px;
  float: left; }
.Header__menu_li {
  display: inline-block;
  padding: 3px 16px 3px 16px;
  border-right: 1px solid #282828;
  border-left: 1px solid black;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "OpenSans"; }
  .Header__menu_li a {
    color: #959697;
    text-decoration: none; }
    .Header__menu_li a:hover {
      color: white; }
.Header__search_wrapper {
  position: relative;
  display: inline-block; }
.Header__search {
  position: relative;
  width: 226px;
  height: 31px;
  margin-left: 54px;
  margin-top: 11px;
  background-color: #1b1c1e;
  color: #4a5056;
  border: 1px solid #1b1c1e;
  padding-left: 20px; }
.Header__search_icon {
  position: absolute;
  background: url("/imgs/search.png");
  height: 20px;
  width: 20px;
  top: 17px;
  right: 163px; }
.Header__top_right_block {
  float: right; }
.Header__top_links {
  float: left; }
.Header__top_link {
  color: white;
  float: left; }
.Header__mini_cart {
  color: white;
  float: left;
  position: relative; }
.Header__mini_cart_icon {
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: black;
  position: relative;
  top: 8px;
  left: 8px; }
  .Header__mini_cart_icon:after {
    content: '';
    position: absolute;
    background: url("/imgs/cart.png");
    width: 19px;
    height: 18px;
    top: 8px;
    left: 8px; }
.Header__mini_cart_text {
  margin-left: 54px;
  margin-top: 17px; }
