.CartItem {
  border: 1px solid #dedede;
  @include clearfix;

  &__img_block {
    width: 217px;
    height: 190px;
    display: inline-flex;
    float: left;
  }

  &__content_block {
    float: left;
    padding: 15px;
  }

  &__img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    margin: 0 auto;
  }

  &__name {
    text-transform: lowercase;
    color: $common-text-color;
    max-width: 350px;
    display: inline-block;
    line-height: 1.5;
    float: left;
    margin-bottom: 25px;
  }

  &__count_block {
    display: inline-block;
    margin-top: 18px;
    margin-left: 55px;
    float: left;
  }

  &__count_input {
    display: inline-block;
    width: 30px;
    height: 19px;
    //margin: 0px 8px 0 8px;
    padding: 0px 0 0 0px;
    float: left;
    text-align: center;
  }

  &__price {
    float: left;
    margin: 12px 0 0 40px;
    font-weight: bold;
    font-size: 25px;
  }
}