.CartItem {
  border: 1px solid #dedede;
  @include clearfix;

  &__img_block {
    width: 217px;
    height: 190px;
    display: inline-flex;
    float: left;
  }

  &__content_block {
    float: left;
    padding: 15px;
  }

  &__img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    margin: 0 auto;
  }

  &__name {
    text-transform: lowercase;
    color: $common-text-color;
    max-width: 350px;
    display: inline-block;
    line-height: 1.5;
    float: left;
  }
}