@font-face {
  font-family: NuanceItalic;
  src: url('/fonts/NuanceItalic.ttf');
}

@font-face {
  font-family: OpenSansSemibold;
  src: url('/fonts/Open-Sans-Semibold.ttf');
}

@font-face {
  font-family: OpenSansLight;
  src: url('/fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: Assassin;
  src: url('/fonts/Assassin.ttf');
}

@font-face {
  font-family: Kramola;
  src: url('/fonts/Kramola.ttf');
}

@font-face {
  font-family: TiffanyUkraineLight;
  src: url('/fonts/TiffanyUkraineLight.ttf');
}