@font-face {
  font-family: NuanceItalic;
  src: url('/fonts/NuanceItalic.ttf');
}

@font-face {
  font-family: OpenSansSemibold;
  src: url('/fonts/Open-Sans-Semibold.ttf');
}

@font-face {
  font-family: OpenSansLight;
  src: url('/fonts/OpenSans-Light.ttf');
}