.Header {

  &__container {
    @include container;
    @include clearfix;
  }

  &__row {
    width: 100%;

    &--top {
      background: #2a2c33;
      height: 95px;
    }
    &--bottom {
      background: #0f140f;
      height: 55px;
      position: relative;
    }
  }

  &__menu {
    margin: 0;
    padding-left: 0;
    padding-top: 15px;
    float: left;
  }

  &__menu_li {
    display: inline-block;
    padding: 3px 16px 3px 16px;
    border-right: 1px solid #282828;
    border-left: 1px solid black;
    text-transform: uppercase;
    font-size: 13px;
    font-family: "OpenSans";
    position: relative;



    &:first-child {
      padding-left: 0;
      border-left: none;
    }

    &:last-child {

      border-right: none;
    }

    //a{
    //
    //}
    &:hover .Header__drop_down_menu{
     display: inline-block;
    }
  }

  &__menu_link {
    color: #959697;
    text-decoration: none;
    &:hover {
      color:white;
    }
  }

  &__drop_down_menu {
    position: absolute;
    display: none;
    top: 15px;
    z-index: 100;
    width:auto;
    left: 0;
    padding-left: 0;
    padding-top: 25px;
    line-height: 2;

    &:hover {
      display: inline-block;
    }
  }

  &__drop_down_menu_li{

    padding: 3px 16px 3px 16px;
    border-right: 1px solid #282828;
    border-left: 1px solid black;
    text-transform: uppercase;
    font-size: 13px;
    font-family: "OpenSans";
    background: #0f140f;
    white-space: nowrap;


  }



  &__search_wrapper {
    position: relative;
    display: inline-block;
    float: right;
  }

  &__search {
    position: relative;
    width: 226px;
    height: 31px;
    margin-left: 54px;
    margin-top: 11px;
    background-color: #1b1c1e;
    color: white;
    border: 1px solid #1b1c1e;
    padding-left: 20px;
  }

  &__search_icon {
    position: absolute;
    background: url("/imgs/search.png");
    height: 20px;
    width: 20px;
    top: 17px;
    right: 8px;
  }

  &__top_right_block {
    display: inline-block;
    float: right;
    font-family: "OpenSans";

  }

  &__top_left_logo{
    float: left;
    font-family: OpenSans;
    padding-top: 30px;
    font-size: 36px;
    color: white;
  }

  &__top_links {
    float: left;

  }

  &__top_link {
    color: #6f7983;
    float: left;
    margin: 0 29px 0 0 ;

  }

  &__mini_cart {
    color: #6f7983;
    float: left;
    position: relative;
  }

  &__mini_cart_icon {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: black;
    position: relative;
    top: 8px;
    left: 8px;

    &:after {
      content: '';
      position: absolute;
      background: url("/imgs/cart.png");
      width: 19px;
      height: 18px;
      top: 8px;
      left: 8px;
    }
  }

  &__mini_cart_text {
    margin-left: 54px;
    margin-top: 17px;
  }

}