.MainSlider {
  position: relative;
  height: 480px;
  background-color:  #d9dadf;

  &__container {
    @include container;
  }

  &__slider {
    margin-top: 0;
  }

  &__control {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 200px;
    z-index: 100;
    cursor: pointer;

    &--prev {
      left: 0;
      background: url("/imgs/slider/left_arrow.png");
    }
    &--next {
      right: 0;
      background: url("/imgs/slider/right_arrow.png");
    }
  }

  img {
    width: auto;
    height: 480px;
  }
}