.PreviewItem {
  width: 220px;
  height: 270px;
  border: 1px solid #dedede;

  &__img {
    width: 100%;
    height: 135px;
  }

  &__bottom {
    @include clearfix;
    height: 32px;
  }

  &__add_to_cart, &__more {
    float: left;
    color: #ffffff;
  }

  &__add_to_cart {
    background: $buttons-bg-color;
  }

  &__more {
    background: #7b8286;
  }
}