.PreviewItem {
  width: 217px;
  height: 300px;
  border: 1px solid #dedede;
  float: left;
  margin: 0 21px 25px 0;
  position: relative;


  &__img {
    width: 100%;
    height: 135px;
  }

  &__bottom {
    @include clearfix;
    height: 32px;
    position: absolute;
    bottom: 0;

  }

  &__add_to_cart, &__more {
    float: left;
    color: #ffffff;
    padding: 10px 27px 9px 28px;
    font-size: 15px;
  }

  &__add_to_cart {
    background: $buttons-bg-color;
  }

  &__more {
    background: #7b8286;
  }
  
  
  &__name{
    text-transform: lowercase;
    text-align: center;
    padding: 10px 5px 0 5px;
  }

  &__price{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
  }
}