.TagLine {
  @include striped_ribbon;

  &__container {
    @include container;
  }

  &__text {
    font-family: 'NuanceItalic';
    font-size: 30px;
    color: white;
    float: left;
    width: 640px;
  }

  &__text--big {
    font-size: 40px;
  }

  &__arrow {
    background: black;
    width: 30%;
    height: 99px;
    position: absolute;
    top: 0;
    right: 0;

    &:before {
      position: absolute;
      left: -20px;
      top: 30px;
      content: '';
      width: 0;
      height: 0;
      //border: 1px solid black;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;

      border-right: 20px solid black;
    }
  }

}